[submodule "external/libleidenalg"]
	path = external/libleidenalg
	url = https://github.com/vtraag/libleidenalg.git
[submodule "external/igraph"]
	path = external/igraph
	url = https://github.com/igraph/igraph.git
