[submodule "igraph"]
	path = igraph
  url = https://github.com/igraph/igraph.git
  branch = master
[submodule "libleidenalg"]
	path = libleidenalg
  url = https://github.com/vtraag/libleidenalg.git
  branch = main
